.footer-layout-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.cars-box-element{
    display: flex;
    justify-content: space-evenly;
}